* {
    margin:0;
    padding:0;
}
html,body {
    height:100%;
    width:100%;
}
body {
    font-family: 'IndieFlower',cursive;
    background-color: RGB(22,74,64);
    margin-top: 75px;
    text-shadow:4px 4px 4px #aaa;
    overflow:hidden;
    flex-direction:column;
    align-items:center;
    display:flex;
}
a {
    color:RGB(178,146,0);
}
h2 {
 color:RGB(0,0,0) ;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 160px;
}

