    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      font-family: 'Cinzel', serif;
      background-color:#1e1e1e;
    }
    
.oo1{
    color:#00d7ff;
}